// Write your CSS here
$bg-color: #f9f9f9;
$bg-disclaimer: #1f2326;

body {
  font-family: Open Sans, arial, sans-serif;
  background: $bg-color;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  .disclaimer {
    background: $bg-disclaimer;
    padding: 0.2rem 0.8rem;
    text-align: center;
    color: #fff;
    font-size: 0.8rem;

    a {
      color: #41ccb4;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .nav-container {
    padding: 1rem 3rem;
    font-size: 0.8rem;
    font-weight: 600;
    .row {
      display: flex;
      // border: 2px blue solid;
      .box-left,
      .cart {
        // border: 1px red solid;
        a {
          vertical-align: middle;
          img {
            height: 1.5rem;
          }
        }
      }

      .box-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // border: 3px black solid;
        width: 100%;
        nav {
          width: 100%;
          ul {
            margin: 0 1.2rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            list-style-type: none;
            // border: 1px red solid;
            .nav-item {
              display: flex;
              align-items: center;
              .arrow {
                margin-left: 0.5rem;
                height: 0.6rem;
                width: 0.6rem;
              }
            }
          }
        }
        .mobile-menu {
          display: none;
        }
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  background: lightgray;
  border: 1px darkblue solid;
  height: 100%;
  border: 3px rgb(198, 91, 248) solid;

  .cards-container {
    flex-grow: 1;
    border: 3px blue solid;
  }

  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px red solid;
  }
}

@media screen and (max-width: 800px) {
  .disclaimer,
  nav {
    display: none;
  }

  .mobile-menu {
    display: block !important;
    img {
      height: 1.5rem;
      margin-left: 1.2rem;
    }
  }
}
